$primary :red;
$secondry : #E89F71;

@import "./Scss/bootstrap";

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 700

body {
    font-family: "Space Grotesk", sans-serif;
}



main {
    flex: 1 0;
}

.custom-progress-bar {
    background-color: #E89F71;
}

.why-choose-us {
    background-color: rgb(237, 228, 217);
}

// Choose Section SCSS

.parallax {
    background-image: url("./Assets/Images/interiorToHaseeb.jpg");
    /* Set a specific height */
    min-height: 500px;
    position: relative;

    @media (max-width:770px) {
        min-height: 230px;

    }

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-about {
    background-image: url("./Assets/Images/12.jpg");
    /* Set a specific height */
    min-height: 500px;
    position: relative;

    @media (max-width:770px) {
        min-height: 230px;

    }

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.parallax>.aboutSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 115px;


    @media (max-width:1448px) {
        font-size: 71px;
    }

    @media (max-width:790px) {
        font-size: 49px !important;
        text-align: center;
    }

    @media (max-width:430px) {
        font-size: 29px !important;
    }
}

.parallax-about>.aboutSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 115px;


    @media (max-width:1448px) {
        font-size: 71px;
    }

    @media (max-width:790px) {
        font-size: 49px !important;
        text-align: center;
    }

    @media (max-width:430px) {
        font-size: 29px !important;
    }
}

.parallax-about>.about {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;

    @media (max-width:770px) {
        top: 75%;
        font-size: 1rem !important;
    }

}

.parallax>.about {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;

    @media (max-width:770px) {
        top: 75%;
        font-size: 1rem !important;
    }

}

.parallaxForService .image-wrapper {
    border-right: 2px solid #808080;
    ;
    /* Set border width and color */
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    /* Optional: Add padding for spacing */
}

@media (max-width : 430px) {
    .card-responsive {
        margin-bottom: 15px;
    }
}



// Button CSS
// .btn {
//     width: auto;
//     height: 40px;
//     font-size: 1.1em;
//     cursor: pointer;
//     background-color: #171717;
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     transition: all .4s;
// }

// .btn:hover {
//     border-radius: 5px;
//     background-color: #171717;
//     color: #fff;
//     transform: translateY(10px);
//     box-shadow: 0 7px 0 -2px #f85959,
//         0 15px 0 -4px #39a2db,
//         0 16px 10px -3px #39a2db;
// }

// .btn:active {
//     transition: all 0.2s;
//     transform: translateY(-5px);
//     box-shadow: 0 2px 0 -2px #f85959,
//         0 8px 0 -4px #39a2db,
//         0 12px 10px -3px #39a2db;
// }


// .scroll-to-up {
//     position: fixed;
//     right: 10px;
//     bottom: 10px;
//     cursor: pointer;
//     z-index: 3;

// }

.whats-app {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 3;
}

.borderBottom {
    border-bottom: 3px red solid;

    @media (max-width:770px) {
        width: 80px;
    }
}

/* Add this to your CSS file */
@media screen and (max-width: 430px) {
    .hide-on-small-screens {
        display: none;
    }
}

.interiorService {
    font-size: 85px;

    @media (max-width:770px) {
        font-size: 58px !important;

    }
}

.policy {
    display: flex;
    justify-content: space-between;

    @media (max-width:430px) {
        display: inline-block !important;
        margin-top: 10px;

    }
}

.copyright {
    @media (max-width:430px) {
        margin-top: 10px;
    }
}

.elevation {
    max-height: 21rem;

    @media (min-width:500px) and (max-width:770px) {
        max-height: 10.5rem !important;

    }

    @media (min-width:771px) and (max-width:1024px) {

        max-height: 15rem !important;

    }
}

.haseeb-brother {
    max-height: 29.5rem;

    @media (min-width:500px) and (max-width:770px) {
        max-height: 13.5rem !important;
    }

    @media (min-width:771px) and (max-width:1024px) {
        max-height: 20.5rem !important;
    }
}