$primary :red;
$secondry : #E89F71;

@import "./Scss/bootstrap";

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 700

body {
    font-family: "Space Grotesk", sans-serif;
}



main {
    flex: 1 0;
}

.custom-progress-bar {
    background-color: #E89F71;
}

.why-choose-us {
    background-color: rgb(237, 228, 217);
}

// Choose Section SCSS

.parallax {
    background-image: url("./Assets/Images/archectural.jpg");
    /* Set a specific height */
    min-height: 500px;
    position: relative;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.parallax>.aboutSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;

    @media (min-width:800px) {
        font-size: 115px;
    }

    @media (max-width:790px) {
        font-size: 65px;
        text-align: center;
    }
}

.parallax>.about {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;

}

.image-wrapper {
    border-right: 2px solid #808080;
    ;
    /* Set border width and color */
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    /* Optional: Add padding for spacing */
}

@media (max-width : 430px) {
    .card-responsive {
        margin-bottom: 15px;
    }
}