.content h1 {
    font-size: 5.5rem;

    @media (max-width:770px) {
        font-size: 2.5rem
    }
}

.content p {
    font-size: 1.5rem;
    margin-bottom: 0;

    @media (max-width:770px) {
        font-size: 1rem
    }
}


.card-responsive {
    @media (max-width:770px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}